<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Get your shit together</a>
    </div>
   
    <form class="navbar-form navbar-right" >
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search location" [(ngModel)]="locationName" name="locationName">
      </div>
      <button type="submit" class="btn btn-primary" (click)="search()">Search</button>
    </form>
  </div>
</nav>

<div class="container" *ngIf="!loaded">
<div class="row">
 <div class="col-md-6">
  <div class="well well-lg">
    {{summary}}
  </div>
 </div>
 <div class="col-md-6">
  
<div class="well well-lg">
  {{temperature}}
</div>
   </div>
</div>
</div>
